@if (Context.User.Identity.Name != null)
{
    

    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="d-flex align-items-center">
        <ul class="navbar-nav me-auto">
            <!-- Home Link on the Left Side -->
            <li class="nav-item me-2">
                @if (User.IsInRole("Candidate"))
                {
                    <a class="nav-link" asp-controller="Account" asp-action="CandidateDashPage">Home</a>
                }
                else if (User.IsInRole("Company"))
                {
                    <a class="nav-link" asp-controller="Account" asp-action="CompanyDashPage">Home</a>
                }
                else
                {
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                }
            </li>
        </ul>
        <ul class="nav navbar-nav ms-auto mb-0">
            <!-- Display username -->
            <li class="nav-item me-2">
                <span class="nav-link text-dark">Hello, @Context.User.Identity.Name!</span>
            </li>

            <!-- Logout Button -->
            <li class="nav-item">
                <button type="submit" class="btn btn-outline-primary">Log Out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav ms-auto">
        <li class="nav-item me-2">
            <a class="btn btn-sm btn-outline-primary" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Signup">Signup</a>
        </li>
    </ul>
}
